.pic img{width:100%!important;height:100%!important;display:block!important;object-fit:contain!important;object-position:center!important;padding:10px!important;transform:none!important;filter:saturate(.96) contrast(1.03) drop-shadow(0 15px 16px rgba(0,0,0,.7))!important}
.pic.shirt img{transform:scale(1.05)!important}
.pic.bottle img{transform:scale(2.15)!important;padding:0!important}
.pic.shaker img{transform:scale(2.05)!important;padding:0!important}
.cart-icon img{width:100%!important;height:100%!important;object-fit:contain!important;padding:5px!important;transform:none!important}